*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    overflow-x: scroll;
    background-color: rgb(206, 206, 206);
    
}

.search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    
    z-index: 1;
    background: rgb(211, 94, 94);
    
}

input {
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
    margin-right: 5px;
    border: solid black 1px;
    height: 40px;
}
select{
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
    border: solid black 1px;
    height: 40px;
}
#searchbutton{
    padding: 0.5rem 3rem;
    margin-left: 5px;
    background: rgb(103, 224, 233);
    color:black;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    border: solid black 1px;
    height: 40px;
    
    
}
.gallery{
    width: 90%;
    margin: 12vh 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5,200px);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    
}

.gallery div {
    position: relative;
}

img {
    margin-left: 5px;
    height: 300px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    border: solid black 1px;
}


